/* --- Slider Label --- */
.stSlider > label {
    font-size: 0.55rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.3rem;
}

/* --- Page Container --- */
.block-container {
    padding-top: 3rem !important;
}

/* --- Section Headers --- */
.section-header {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/*.boxed-title {
    border: 3px solid #4B9DAF;
    padding: 0.2rem 1rem;
    border-radius: 0.31rem;
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
} */


/* --- Title Box --- */
.boxed-title {
    background-color: #003B4F;
    color: #FFFDF5;
    padding: 0.5rem 1rem;
    border-radius: 0.31rem;
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 600;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    /* font-family: "Courier New", monospace; */
    margin-bottom: 1rem;
    border: none;
}

/* --- Download Button --- */
div.stDownloadButton > button {
    background-color: #4B9DAF;
    color: white;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    font-weight: 600;
}
div.stDownloadButton > button:hover {
    color: white;
    background-color: #D2671A;
}
